
/* Author: Jovanie Lawrence
      Date: 08/02/18    
      Description: Style sheet for our website   */ 

/* Styles for the body and its contents*/
body{
    background-color:#ffffff;
}
h3{
    margin-left: 45%;
}
.sub-header{
    margin-left: 45%;
}

h5,h4{
    margin-left:15px;
}

/* Modal header styling for background and text */
.modal-header {
    background-color: #062029;
    color: #ffffff;
    font-family: sans-serif;
}

/* Style and colour the text boxes in throught the website */
input {
    width: 250px;
    height: 30px;
    font-size: 13px;
    font-family: sans-serif;
}

#qty{

    width:20px;
    height:20px;
}

/* Style for the brand images on the homepage */
.brand{
    margin-left: 27%;
     display: inline-block; 
    vertical-align: top; 
    box-shadow: 10px 10px 10px #999; 
    border: 8px solid #333;
    background-color: #F3F2EE;
}

/* Position basket + and - to centre */
.add{
    margin-left: 40px;
}


/* Table color styling  */
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
 background-color: #062029;
 color:#ffffff;
}
.table-striped>thead>tr:nth-child(odd)>th {
 background-color: #062029;
 color:#ffffff;
}

/* position log to far left */
#logo{

    margin-top: -15px;
}

/* Position confirmation message and green tick to centre */
#confirm{
   margin-left: 35%;
}
#tick{

    margin-left: 10%;
}

/* close button on modals to be white */
#close{
    color:#ffffff;
}

.col-lg-9{
    margin-left: 12%;
    background-color:#FFFFFF;
}
#panel{
    background-color: #E7E7E7;
}
/* When activated, the text field will change colour */

input:focus {
    background-color: #E8E8E8;
}
/*  Set no colour outline for active links and change text colour */

a:focus {
    outline: 0;
    color: #9038AC;
}

/* Green colour for active links */
a:active{
    color:#31A52C;
}

/* Set default properties for all paragraphs */

p {
    font-family: sans-serif;
    font-size: 15px;
}